.overlay{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000000;
    left: 0;
    width: 100%;
    display: none;
  }
    .visible{
        display: flex;
    }
  .loader{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100px;
    aspect-ratio:1;
    border-radius:50%;
    border:5px solid rgba(255, 255, 255, 0);
    animation:spin 1.6s linear infinite;
    position:relative;
  }

  .loader::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    border-radius:50%;
    border-top:5px solid rgb(0, 0, 0);
    border-right:5px solid rgba(0, 0, 0, 0);
    animation:spin 1.6s linear infinite;
  }

  @keyframes spin{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
  }