.content{
    padding: 20px;
  }
  .user-categs{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
  }
  .categ{
    padding: 10px;
    background-color: rgba(13, 255, 0, 0.229);
    position: relative;
    min-height: 50px;
    text-transform: capitalize;
    flex: 1 1 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
    &:hover{
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.31);
      background: green;
      color: white;
      .count{
        background: rgb(250, 250, 250);
        color: green;
      }
    }
    &:active{
      scale: 0.98;
      .count{
        rotate: 360deg;
      }
    }
  }
  .count{
    padding: 10px;
    border-radius: 50%;
    background: rgb(255, 42, 0);
    display: flex;
    font-size: small;
    transition: all 0.2s ease-in-out;
    width: 40px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    max-height: 40px;

  }
  .filters{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .filters input, select{
    padding: 10px;
    border: 1px solid blue;
    min-width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    outline: none;
    &:focus{
      border: 2px solid rgb(98, 239, 98);
    }

  }
  #applyFiltersBtn{
    padding: 10px;
    border: 0;
    background: black;
    color: white;
  }
  .articles-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    >a{
      flex: 1 1 500px;
      padding-left: 10px;
      border: 1px solid #00000030;
      padding: 10px;
    }
  }
  #applyFiltersBtn:disabled{
    background: grey !important;
    pointer-events: none !important;
    user-select: none !important;
    color: lightgray !important;
    cursor: not-allowed !important;
  }
  .actions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div{
      padding: 5px;
    }
    i{
      width: fit-content;
      font-size: 1.3em;

    }
  }
  #a-date{
    text-decoration: none !important;
    width: 30%;
  }
  .actions{
    gap: 2px;
    a:nth-of-type(1){
      i{
        color: rgb(0, 0, 0);
      }
    }
    a:nth-of-type(2){
      i{
        color: rgb(0, 213, 255);
      }
    }
    a:nth-of-type(3){
      i{
        color: rgb(0, 0, 0);
      }
    }
    a:nth-of-type(4){
      i{
        color: rgb(179, 0, 255);
      }
    }
    a:nth-of-type(5){
      i{
        color: rgb(0, 255, 21);
      }
    }
  }
  .img img{
    width: 100px;
    max-height: 100px;
  }
  .user-article{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
  }
  .user-article .contents{
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .innerContent{
    display: flex;
    gap: 3px;
    flex-direction: column;
    width: 100%;
    
  }
  .contents{
    width: 100%;
    display: flex;
  }
  .art-link{
    text-decoration: none;
    color: rgb(10, 10, 10);
      .title{
        text-decoration: underline !important;
      }
  }
  option, select{
    text-transform: capitalize  !important;
  }
  .sk{
    background:linear-gradient(to right,#0000,  rgba(63, 61, 61, 0.073), #0000) 100px;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: -20%;
    background-color: #cdc8c841;
    &:hover{
      background:#cdc8c841;
      box-shadow: none;
      
    }
    div{
      background: rgba(128, 128, 128, 0.403);
    }
    animation: shimmer 2s linear infinite;
  }
  @keyframes shimmer {
    100%{
      background-position: 100%;
    }
 
  }
  .pg-btn{
    padding: 10px;
    border: 0;
    background: rgba(0, 255, 0, 0.466);
    &:disabled{
      background: rgba(128, 128, 128, 0.414);
      cursor: not-allowed !important;
    }
  }
  .page-actions{
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }