.dark{
    background: #000 !important;
    div{
        background: #000;
        color: #fff;

    }
   h1, h2, h3, h4{
        background: #000;
        color: #fff;

    }
    .trending{
        background: #000 !important;
    }
    .n-link{
        background: #000;
    }
    .skeleton{
        background: #444;
    }
    .content{
        background: #000;
    }
}