.dark{
    background: #000 !important;
    div{
        background-color: #000;
        color: #fff;
    }
    .cover{
        background-color: #000dff71;
        *{
            background-color: #0000;
        }
    }
    .dets >div{
        padding: 0px;
    }
   h1, h2, h3, h4{
        background: #000;
        color: #fff;

    }
    .trending{
        background: #000 !important;
    }
    .n-link{
        background: #000;
    }
    .skeleton{
        background: #444;
    }
    .content{
        background: #000;
    }
}