.action{
    font-size: 1.8em;
    max-width: fit-content;
    cursor: pointer;
    &:active{
        scale: 0.95;
    }
}
.-news{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 600px;
}

iframe{
  max-width: 600px;
}
.actions{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    a:nth-of-type(1){
      color: rgb(29, 181, 3);
    }
    a:nth-of-type(2){
      color: rgb(2, 112, 255);
    }
    a:nth-of-type(3){
      color: rgb(0, 0, 0);
    }
    a:nth-of-type(4){
      color: rgb(255, 2, 247);
    }
    a:nth-of-type(5){
      color: rgb(2, 255, 32);
    }
}
.filters{
    display: flex;
    gap: 20px;
    position: relative;
}
.filters>div{
    padding: 10px;
    cursor: pointer;
    position: relative;
    background: red;
    color: white;
    height: fit-content;
    flex-grow: none !important;
    &:hover{
        text-decoration: underline;
    }
}
.-n-title{
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin: 20px 0;
}
.date{
    color: rgba(101, 100, 100, 0.566);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.3;
    word-spacing: 0.8;

}
#news-content{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.8;
    font-weight: 500;
}
.news-img{
    display: flex;
    width: 97%;
    max-width: 500px;

}
.caption{
    color: rgba(128, 128, 128, 0.744);
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 400;
    margin: 10px 0;
}
#stop{
    width: fit-content;
    padding: 2px;
}
.none{
  display: none !important;
}
.seen{
  display: flex !important;
}
.content iframe{
  width: 100%;
  height: 100%;
  min-width: 300px;
  max-height: 500px;
  object-fit: cover;
  flex-grow: 1;
}
  .content{
    display: flex;
    flex-wrap: nowrap;
  }
  #news-content{
      width: 100% !important;
      max-width: none !important;
    }
    .more .-news{
      /* background: red; */
      border-bottom: 1px solid #eee;
      display: flex;
      flex-direction: row !important;
      justify-content: start;
      align-items: start;
      font-size: small;
    }
  
    @media (max-width:500px) {
      .more .-news{
        flex-direction: column !important;
        img{
          width: 100%;
          max-width: none !important;
          object-fit: cover;
          max-height: 100px !important;
        }
      }
    }
  

  @media (max-width:768px) {
    .content{
      flex-wrap: wrap !important;
    }

    .rAd{
      width: 100% !important;
      max-width: none !important;
    }
    
  }
  .newsDivL{
    width: 80%;
    min-width: 350px;
    flex-grow: 1;
  }
  .rAd{
    width: fit-content;
    max-width: 600px;
    max-width: 20%;
  }
  .more{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
    min-width: 300px;
  }
  .article-text{
    padding: 10px;
  }
  .article-text img{
    max-width: 98% !important;
  }
  .-news .image{
    img{
      object-fit: cover;

    }
  }
  .art-actions{
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 10px;
    .a-tags{
      display: flex;
    padding: 10px;

      gap: 10px;
      flex-wrap: wrap;
    }
  }
  .tag{
    padding: 5px 10px;
    background: rgba(255, 0, 0, 0.562);
    color: rgb(0, 0, 0);
    width: fit-content;
    cursor: pointer;
    user-select: none;
    *{
    text-transform: capitalize !important;
    }
    &:active{
      scale: 0.97;

    }
    i{
      color: black;
    }
    &:hover{
      background: green;
      color: white;
      i{
        color: white;
      }
    }
  }
  .news-wrapper .skeleton{
    background: rgba(128, 128, 128, 0.189);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-height: 0 !important;
    justify-content: start !important;
    align-items: start !important;
    margin: 0;

  }
  .art-img{
    display: flex;
    border-radius: 10px;
    height: 200px;
  }
  .bg-00{
    background: #0000 !important;
    padding: 0 !important;
  }
  .art-links{
    width: 50%;
    align-self: flex-start;

  }
  .row{
    flex-direction: row !important;
  }
  .art-content {
    >div:nth-child(4){
      width: 50%;
    }
    >div:nth-child(6){
      width: 50%;
    }
    >div:nth-child(7){
      width: 100%;
    }
    >div:nth-child(1){
      width: 98%;
    }
    >div:nth-child(3){
      width: 80%;
    }
  }
  .more{
    flex-grow: 1;
    width: 100%;
     .skeleton{
    flex-grow: 1;
    width: 100%;
  }
}
    .comment{
      background: rgba(128, 0, 122, 0.03);
      padding: 10px;
      border-bottom: 1px solid #c3c3c347;
    }
    .comment .comment-actions{
      display: flex;
      gap: 10px;
      .action{
        font-size: 1.2em;
        &:hoveR{
          color: rgb(0, 255, 0);
        }
      }

    }
    .comment-img img{
      width: 50px;
      border: 1px solid #333;
      border-radius: 50%;
      padding: 3px;
      aspect-ratio: 1;
    }
    .loginBtn{
      padding: 10px;
    background: #03d003;
    color: white;
    border: 0;
    }
    #openActions{
      position: absolute;
    right: 10px;
    top:10px;
    }